.side_btn
{
    margin: 10px;
    background-color: #081738 !important;
    width: 90%;
    text-align: left !important;
    color:yellow !important;
}

.side_btn:focus {
    background-color: Black !important;
}